.shop-container{
    display: flex;
    justify-content: space-between;
}
.cart-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


@media only screen and (min-width: 768px) {
    .cart-container{
        display: grid;
        grid-template-columns: repeat(1fr);
    }
}
