.main-cart{
    border: 2px solid tomato;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    background-color: aliceblue;

}
.main-cart button{
    background-color: seagreen;
    color: white;
    border-radius: 5px;
}